.heading-area{
  font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.login-area{
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
 
}
.inputs-area {
  text-align: left;
  margin-top: 30px;
}
.inputs-area input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputs-area input::placeholder {
  color: gray;
}
.inputs-area input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.inputs-area button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.inputs-area button:hover {
  box-shadow: none;
}
a{
   text-decoration: none;
}

