.area-details{
    margin-top: 10px;
   
}
.nav-area{
    text-decoration: none;
    color:#222;
}
.nav-area a{
   
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    
    font-size:15px;
    font-weight: bold;
  
}
